<h1>Listing illustrations</h1>

<table>
  <tr>
    <th>Image</th>
    <th>Post</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @illustrations.each do |illustration| %>
  <tr>
    <td><%= illustration.image_id %></td>
    <td><%= illustration.post_id %></td>
    <td><%= link_to 'Show', illustration %></td>
    <td><%= link_to 'Edit', edit_illustration_path(illustration) %></td>
    <td><%= link_to 'Destroy', illustration, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Illustration', new_illustration_path %>
