%div
  = link_to "posts", posts_path
%div
  = link_to "users", users_path
%div
  = link_to "images", images_path
%div
  = link_to "tags", tags_path
%div
  = link_to "illustrations", illustrations_path
%div
  = link_to "identifications", identifications_path
  
  
%div
  = link_to "logout", :action => 'logout'